@keyframes bounceInLeft {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: translate3d(-300%, -50%, 0) scaleX(3);
    }
    60% {
        opacity: 1;
        transform: translate3d(-40%, -50%, 0) scaleX(1);
    }
    75% {
        transform: translate3d(-55%, -50%, 0) scaleX(0.98);
    }
    90% {
        transform: translate3d(-48%, -50%, 0) scaleX(0.995);
    }
    to {
        transform: translate3d(-50%, -50%, 0);
    }
}
@keyframes fadeOutDown {
    from {
        opacity: 1;
    }
  
    to {
        opacity: 0;
        transform: translate3d(-50%, 50%, 0);
    }
}
@keyframes shakeX {
    from,
    to {
        transform: translate3d(-50%, -50%, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-52%, -50%, 0);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translate3d(-48%, -50%, 0);
    }
}